VITE_BARKD_URL=http://localhost:4000
VITE_BARKD_TOKEN=
VITE_BARK_WEB_API_URL=http://localhost:4001
VITE_ARK_SERVER=https://ark.signet.2nd.dev
VITE_CHAIN_SOURCE=https://esplora.signet.2nd.dev
VITE_BARK_NETWORK=signet
BARK_VERSION=0.1.4
